<div class="box">
  <div class="show-box">
    <div class="about-show-box">

      <div class="container">
        <div class="container2">
          <div class="row">


          <div class="left">
            <img src="../images/me.png" alt="hwj">

            <div class="contact-icons">
              <a href="https://www.linkedin.com/in/hannahwynnjones/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <a href="https://github.com/hannahwynnjones" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://twitter.com/HannahWynnJones" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="mailto:hello@hannahwynnjones.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div></div>

          <div class="right">
            <h1>Hannah wynn jones</h1>
            <p>As an aspiring developer, I am a keen problem solver and coding enthusiast. My Economics degree lead me to a career in finance where I picked up some fantastic skills, but still wanted to be more creative and able to actually build something. I took the plunge and have never looked back.</p>
              <p>The projects in the projects section were completed while being a student at General Assembly in London on their 12 week Web Development Immersive Course. </p>
              <p>I’m currently looking for a role in a forward-thinking company which challenges me everyday and where I’m able to expand my knowledge and skillset.</p>

              <h3>Interests</h3>

                <p>Having lived in ski resorts all over the world, it's no suprise that I LOVE the white stuff!  My favourite place to ski was Japan which was incredible.</p>
                <p>I’m also a great a cook and love a good bake sale (doesn’t have to be a bake sale, any excuse will do to whip out the butter-icing and sprinkles).</p>
          </div>
        </div>
        <div class="row">

          <div class="imageb">
            <img src="../images/mountain.jpg" alt="{{ projectsShow.project.name }}">
          </div>
          <div class="skills-div">
            <div class="tech">
              <div class="skills">
              <h3>TECH SKILLS</h3>
              <ul>
                <li>(order of confidence)</li>
                <li>HTML5</li>
                <li>CSS and SCSS</li>
                <li>JavaScript and jQuery</li>
                <li>Angular.js</li>
                <li>Node.js and Express</li>
                <li>Oauth and third-part APIs</li>
                <li>Responsive web design</li>
                <li>Testing and TDD</li>
                <li>Bootstrap</li>
                <li>Ruby</li>
                <li>Rails</li>
                <li>NoSQL and SQL</li>
                <li>MongoDB</li>
                <li>Looking at next: React</li>
                <li> </li>
              </ul>
            </div>
            </div>
            <div class="line-skill"></div>
            <div class="soft">
              <div class="skills">
                <h3>SOFT SKILLS</h3>
                <ul>
                  <li>Stand up</li>
                  <li>Detail orientated</li>
                  <li>Trouble-shooter and bug-squasher</li>
                  <li>Flexible</li>
                  <li>Organised</li>
                  <li>Team player</li>
                  <li>Public speaker</li>
                  <li>Empathetic</li>
                  <li>Dedicated</li>
                  <li>Desire to learn</li>
                  <li>Time management</li>
                  <li>Team player</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
