<h1>shows all blogs</h1>

<div class="">
  <h3>Welcome back {{ blogsIndex.currentUser.username }}</h3>
</div>

<div class="">

  <ul class="row">
    <li ng-repeat="blog in blogsIndex.all" class="col-md-6">
      <div class="blog">
        <h2>{{ blog.name }}</h2>
          <img class="" ng-src="{{ blog.imageSRC }}" alt="{{ blog.name }}">

        <p>Created by: <strong>{{ blog.createdBy.username }}</strong></p>
        <img class="" ng-src="{{ blog.createdBy.imageSRC }}" alt="{{ blog.createdBy.username }}">

        <button ui-sref="blogsShow({id: blog.id})">View</button>
      </div>
    </li>
  </ul>
</div>
