<h1>shows all blogs</h1>

<div class="">
  <h3>Welcome back {{ blogsIndex.currentUser.first_name }}</h3>
</div>

<div class="">

  <ul class="row">
    <li ng-repeat="blog in blogsIndex.all" class="col-md-6">
      <div class="blog">
        <h2>{{ blog.name }}</h2>
          <img class="" ng-src="{{ blogsShow.blog.user.image_src }}" alt="{{ blogsShow.blog.user.username }}">

        <p>Created by: <strong>{{ blog.user.username }}</strong></p>
        <button ui-sref="blogsShow({id: blog.id})">View</button>
      </div>
    </li>
  </ul>
</div>
