
<div class="box">
<div class="show-box">

<h1>{{ blogsShow.blog.name }}</h1>

<button ng-click="blogsShow.delete()" class="button" ng-if="main.isAuthenticated() && main.currentUserId === blogsShow.blog.createdBy.id">Delete</button>

<!-- <button ui-sref="blogsEdit({id: blogsShow.blog.id})" ng-if="main.isAuthenticated() && main.currentUserId === blogsShow.blog.createdBy.id">Edit</button> -->



<img ng-src="{{ blogsShow.blog.imageSRC }}" alt="{{ blogsShow.blog.user.username }}">

<h4>{{ blogsShow.blog.body }}</h4>

<!-- ======================COMMENTS============================= -->
<div class="line"></div>

<section id="">
    <div class="">
      <h2>Comments</h2>

      <div class="comments">
         {{ main.currentUser.id }}
        <ul>
          <li ng-repeat="comment in blogsShow.blog.comments">{{ comment.content }} - <strong>{{ comment.createdBy.first_name }} {{ comment.createdBy.second_name }} </strong>

            <button ng-click="blogsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete</button>
          </li>
        </ul>
      </div>
<div class=""></div>
      <div class="comments" ng-if="main.isAuthenticated()">
        <h3>Add Comment</h3>
        <br>
        <form ng-submit="blogsShow.addComment()">
          <textarea type="text" name="content" ng-model="blogsShow.newComment.content"></textarea>
          <br>
          <button>Comment</button>
        </form>
      </div>
    </div>
</section>

</div>

<button><a ui-sref="blogsIndex">Back to all blogs</a></button>

</div>
