<h1>Edit a project</h1>

<div class="">
  <div class="">
    <div class="">

      <h1>Edit Project</h1>
      <form name= "projectsEdit.projectForm" ng-submit="projectsEdit.update()">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ng-model="projectsEdit.project.name">
        </div>

        <div>
          <label for="description">Description</label>
          <input type="text" id="description" name="description" ng-model="projectsEdit.project.description">
        </div>

        <div>
          <label for="base64">Image</label>
          <input type="file" base64 name="base64" id="base64" ng-model="projectsEdit.project.base64">
        </div>

        <div>
          <label for="github">Github link</label>
          <input type="text" name="github" id="github" ng-model="projectsEdit.project.github">
        </div>

        <div>
          <label for="link">Link</label>
          <input type="text" name="link" id="link" ng-model="projectsEdit.project.link">
        </div>

          <button>Update Project</button>
      </form>
    </div>
  </div>
</div>
