<h1>shows all projects</h1>

<!-- <div class="">

  <ul class="row">
    <li ng-repeat="project in projectsIndex.all" class="col-md-6">
      <div class="project">
        <h2>{{ project.name }}</h2>
          <img class="" ng-src="{{ projectsShow.project.user.image_src }}" alt="{{ projectsShow.project.user.username }}">

        <p>Created by: <strong>{{ project.user.username }}</strong></p>
        <button ui-sref="projectsShow({id: project.id})">View</button>
      </div>
    </li>
  </ul>
</div> -->


<div uib-carousel active="projectsIndex.active" interval="projectsIndex.myInterval" no-wrap="projectsIndex.noWrapSlides">
  <div uib-slide ng-repeat="project in projectsIndex.all" index="$index">
    <img ng-src="{{ project.imageSRC }}" style="margin:auto;">
    <div class="carousel-caption">
      <h4>{{ project.name }}</h4>
      <p><strong>{{ project.description }}</strong></p>
      <button ng-click="projectsIndex.open({id: project.id})">Viewid</button>
      <button ng-click="projectsIndex.open()">View</button>

    </div>
  </div>
</div>
