<div class="box">

<h1>Projects</h1>

<div class="blog-box-one">

  <ul class="row">
    <li ng-repeat="project in projectsIndex.all | orderBy:'$index':true" class="col-md-6 col-lg-4 blog-box">
      <div class="blog">
        <h2>{{ project.name }}</h2>
        <div class="blog-img">
          <a ui-sref="projectsShow({id: project.id})"><img ng-src="{{ project.imageSRC }}" alt="{{ project.name }}"></a>
        </div>
        <a href="{{ project.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="{{ project.link }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </div>
    </li>
  </ul>
</div>
</div>

<!-- <div uib-carousel active="projectsIndex.active" interval="projectsIndex.myInterval" no-wrap="projectsIndex.noWrapSlides">
  <div uib-slide ng-repeat="project in projectsIndex.all" index="$index">
    <img ng-src="{{ project.imageSRC }}" style="margin:auto;">
    <div class="carousel-caption">
      <h4>{{ project.name }}</h4>
      <p><strong>{{ project.description }}</strong></p>
      <button ng-click="projectsIndex.open({ project })">Viewid</button>
      <button ng-click="projectsIndex.open()">View</button>

    </div>
  </div>
</div> -->
