<div class="">
  <div class="">
    <div class="">

      <h1>New Project</h1>
      <form name= "projectsNew.projectForm" ng-submit="projectsNew.create()">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ng-model="projectsNew.project.name">
        </div>

        <div>
          <label for="description">Description</label>
          <input type="text" id="description" name="description" ng-model="projectsNew.project.description">
        </div>

        <div>
          <label for="base64">Image</label>
          <input type="file" base64 name="base64" id="base64" ng-model="projectsNew.project.base64">
        </div>

        <div>
          <label for="link">Link</label>
          <input type="file" link name="link" id="link" ng-model="projectsNew.project.link">
        </div>

          <button>Create Project</button>
      </form>
    </div>
  </div>
</div>
