@media only screen and (max-width: 1150px) {
  .title {
    left: 20%;
  }
}

@media only screen and (max-width: 1050px) {
  .title {
    left: 25%;
  }
  .contact-icons {
    top: 87%;
    left: 50%;
  }
}

@media only screen and (max-width: 960px) {
  .title {
    left: 25%;
  }
}

@media only screen and (max-width: 860px) {
  .title {
    left: 30%;
  }
}
  @media only screen and (max-width: 640px) {

    ////////   HOME  /////////////////////////////
    .title {
      left: 50%;
    }
    .fs {
      top: 99%;
      padding-top: 280px;
    }
    .contact-icons {
      top: 95%;
      padding-top: 80px;

    }
    .project-div {
      padding: 15px;
      width: 100%;
      background-color: rgba(150, 150, 150, 0.7);
      margin-top: 20px;
    }
    .line-proj {
      visibility: hidden;
    }

//     ////////////////   ABOUT   /////////////////
//   .container {
//     position:relative;
//     .contact-icons {
//       position: absolute;
//       width : 100%;
//       min-height : 20px;
//       background-color : #f00;
//       float: clear;
//
//     }
//
//     .left {
//       position: absolute;
//       width : 100%;
//       height : 100px;
//       background-color : #000;
//       float: left;
//
//     }
//     .right {
//       position: absolute;
//       width : 100%;
//       height : 25px;
//       background-color: #0f0;
//       float: clear;
// top: 0; left: 0;
//     }
//
//     .imageb {
//       position: absolute;
//       width : 100%;
//       height : 50px;
//       background-color: yellow;
//       float: clear;
// top: 0; left: 0;
//     }
//     .skills-div {
//       position: absolute;
//       width : 100%;
//       height : 50px;
//       background-color: blue;
//       float: clear;
// top: 0; left: 0;
//     }
//   }
}

@media only screen and (max-width:413px) {
  .title {
    .hannah{
    font-size: 30px;
        }
    .wj{
    font-size: 30px;
        }
        .l-line {
          border-style: solid;
          width: 260px;
          margin: 5px auto;
        }
      }
        .project-div {
          width: 160px;
          padding: 15px;
          margin-left: 12px;
          background-color: rgba(150, 150, 150, 0.7);
          margin-top: 20px;
        }

}
